body {
    background-color: rgb(120, 144, 156);
}

.but {
    border: 1.8px solid rgb(100, 181, 246);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 200;
}

.but:active {
    box-shadow: 0 5px white;
    transform: translateY(4px);
  }

#calculator {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 450px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    color: rgb(255, 235, 238);
    cursor: pointer;
}

#screen {
    grid-column: 1/5;
    color: rgb(255, 138, 101);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 25px;
    background-color: rgb(250, 250, 250); 
    font-weight: 700;
}

#equal {
    grid-column: 1/3;
    background-color: rgb(200, 230, 201);
}

#clear {
    grid-column: 3/5;
    background-color: rgb(176, 190, 197);
    color: white;
}

#cero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    background-color: rgb(174, 214, 241);
}

#sum, #subtract, #multiply, #divide {
    background-color: rgb(191, 87, 97);
}

#dot, #back {
    background-color: rgb(176, 190, 197);
}

.disable {
    pointer-events: none;
}

#equal:hover {background-color: #3e8e41}

#clear:hover {background-color: black;}
#back:hover {background-color: black;}
#dot:hover {background-color: black;}

#sum:hover {background-color: red;}
#subtract:hover {background-color: red;}
#multiply:hover {background-color: red;}
#divide:hover {background-color: red;}

#cero:hover {background-color: blue;}
#one:hover {background-color: blue;}
#two:hover {background-color: blue;}
#three:hover {background-color: blue;}
#four:hover {background-color: blue;}
#five:hover {background-color: blue;}
#six:hover {background-color: blue;}
#seven:hover {background-color: blue;}
#eight:hover {background-color: blue;}
#nine:hover {background-color: blue;}